.allWrap {
    background: rgb(206, 206, 206);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    position: relative;
}
.header {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 48px;
}

.input {
    /* background: white;
    border: 0.2rem black solid; 
    padding: 0.1rem;
    justify-content: center; */
    max-width: 30em;
    width: 100%;
    position: absolute;
    top: 50%
}


input:focus {
    border: none;
}

.searchParams {
    position: absolute;
    bottom: 20%;
    white-space: nowrap
}

.sort {
    display: inline-block;
    padding-right: 5%;
}

.sort span {
    padding-right: 5px;
}

.category {
    padding-left: 5%;
    display: inline-block;
}

.category span {
    padding-right: 5px;
}